*{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
html{
scroll-padding-top: 225px;
}
body {
    background-color: #9cbbcf;
}

.header {
  text-align: center;
  position: sticky;
  height: 200px;
  top: 0;
  font-size: 25px;
  overflow: hidden;
  background-color: #0da0f5;
  padding: 10px 10px;
  border: 5px solid;
  color: #ffffff;
}

.header a {
  color: black;
  background-color: #0da0f5;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #c0e3ff;
  color: #0da0f5;
}

.header a.active {
  background-color: #39b1f7;
  color: white;
  border: 3px solid transparent;
  padding: 15px;
}

.navbar {
    text-align: center;
}

#article .title{
    text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #0da0f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0da0f5;
}

.container {
  border-radius: 5px;
  background-color: #62a2c7;
  padding: 20px;
}

footer {
  display: block;
  margin-top: 10px;
  text-align: center;
border: 4px solid;
  padding: 3px;
  background-color: #0da0f5;
  color: white;
}
